body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  height: auto;
  max-width: 1000px;
  margin: auto;
}

.header {
	margin: 30px 10px;

}

.title {
	font-size: 37px;
	font-weight: bold;
}

.details-container {
	font-size: 18px;
	color: #817b7b;
}
